html 
    head 
        title Create 
    body 
        h1 This is where you will create a user
            form(action="/create", method="post")  
                input(name='name' placeholder="Name")
                input(name='username' placeholder="Username")
                input(name='email' placeholder="Email Address")
                input(name='age' placeholder="Age")
                input(type="submit")